*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gainsboro;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gainsboro;
    max-width: 100%;
    height: 100vh;
}